
body {
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    background:#49505b;
    color:white;
    animation: snow 30s linear infinite;
}
@keyframes snow {
    0%{background-position:0 0;}
    100%{background-position:500px 500px;}
}

a:link {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

#map {
    width:100%;
    margin-top:100px;
    height:80vh;
    display: inline-block;
    color:#3e3e3e;
}
